<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2><%= name %> </h2>
    <br>
    Address:<%= addresss %>
    <h3>Qualification</h3>
    <hr>
    Education:<%= Qualification %>
    <hr>
    <h3>Contact Details</h3> 
    <hr>
    Phone_Number:<%= Phone %>
    <h3>Appointments</h3>
    <hr>
    <button> 6:00 PM - 6:15 PM</button>
    <button> 6:20 PM - 6:35 PM</button>
 

</body>
</html>